<header>
      {% include '_includes/qr_code.html' %}
    {% if index %}
      <p style="font-size:30px;">
        <a href="{{ SITEURL }}/{{ article.url }}" style="text-decoration: none;">{{ article.title|striptags }}</a>
      </p>
    {% else %}
      <p class="entry-title">{{ article.title|striptags }}</p>
    {% endif %}
    <p class="meta">
      {% include '_includes/article_time.html' %}
      {% include '_includes/article_stats.html' %}
    </p>
</header>

{% if index %}
  <div class="entry-content">{{ article.summary }}</div>
  {% if article.summary != article.content %}
  <footer>
    <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
  </footer>
  {% endif %}
{% else %}
  <div class="entry-content">{{ article.content }}</div>
{% endif %}
